/* Scss Document */
* {	margin: 0;
	padding: 0;}

#main {	width: 960px;
		margin-left: auto;
		margin-right: auto;
		display: grid;
		border: 1px black solid;}

header {border: 1px black solid;
		height: 205px;}

nav {border: 1px black solid;
		height: 25px;
		color: white;
		background-color: black;
		text-align: center;}

nav h1 {top-margin: 50%;
		bottom-margin: 50%;}

footer {border: 1px black solid;}

.main1, .main2, .main5 {grid-column-start: 1;
						grid-column-end: 3;}

.main3 {grid-column-start: 1;
		grid-column-end: 2;}

.main4 {grid-column-start: 2;
		grid-column-end: 3;}

.gallery {	display: grid;
			border: 1px black solid;
			width: 50%;
			grid-column-gap: 50px;
			text-align: center;}

.gallery img { margin-top: 5px;}

.gallery p {margin-right: auto;
			margin-left: auto;}



.gal1 {	grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 3;}

.gal2 {	grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;}

.gal3 {	grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;}

.gal4 {	grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 4;}

.gal5 {	grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 4;
		grid-row-end: 5;}

.gal6 {	grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 5;}

.gal7 {	grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end: 5;}

.gal8 {	grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 5;
		grid-row-end: 6;}

.info {	border: 1px black solid;
		width: 50%;}

#main .main1 {	display: grid;}

.header1 {	grid-column-start:1;
			grid-column-end:2;
			margin-left: 15%;
			margin-top: 8%;}

.header2 {	grid-column-start:2;
			grid-column-end:3;
			margin-top: 80px;
			margin-right: 300px;}



